.logo-container{
    margin-top: 1rem;
    margin-left: 1%;
    margin-bottom: 1.5rem;
    display: flex;
    max-width: 100%;
    @media (max-width: 768px) {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    @media (max-width: 480px) {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

.logo {
    max-width: 400px;
    max-height: 56.5px;
    @media (max-width: 768px) {
        max-width: 300px;
        max-height: 42.5px;
        display: block;
    }
    @media (max-width: 480px) {
        max-width: 200px;
        max-height: 28.5px;
        display: block;
    }

}

.links {
    position: absolute;
    right: 0;
    float: right;
    padding-right: 1.5%;
    color: primary;
    font-family: Rosario-Bold, sans-serif;
    @media (max-width: 768px) {
        display: inline;
        padding-right: 0;
    }
    @media (max-width: 480px) {
        display: inline;
        padding-right: 0;
    }
}

a {
    color: primary;
    font-family: Rosario-Bold, sans-serif; 
}

.logout {
    color: primary;
    font-family: Rosario-Bold, sans-serif;
}

.unactive-link {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}