.logo-container{
    margin-top: 1rem;
    margin-left: 1%;
}

.logo {
    max-width: 400px;
    max-height: 56.5px;
}

.navbar {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    width: 98%;
    margin-left: 1%;
    border-radius: 10px;
}

.links {
    float: right;
    margin-right: 1.5%;
}

a {
    color: primary;
    font-family: Rosario-Bold, sans-serif; 
}

.unactive-link {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}