<div class="logo-container">
    <img src="../../assets/img/png/manifyzer-without-icon.png" routerLink="" class="logo" alt="">
    <div class="links">
        <ng-container #LeftLinks [ngTemplateOutlet]="NotLogged">
        </ng-container>
    </div>
</div>


<ng-template #NotLogged>
        <h4 [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"><a routerLink="signin" class="unactive-link">SIGN IN</a></h4>
        <h4 [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"><a routerLink="signup" class="unactive-link">SIGN UP</a></h4>
</ng-template>
<ng-template #Logged>
        <h4 [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"><a routerLink="" class="unactive-link">{{this.currAcc.username.toUpperCase()}}</a></h4>
        <h4 class="logout" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" (click)="this.logOut()">LOG OUT</h4>
</ng-template>
