<div class="logo-container">
    <img src="../../assets/img/png/manifyzer-without-icon.png" routerLink="" class="logo" alt="">
    <div class="links" *ngIf="this.isLogged;async NotLogged else Logged">
    </div>
        
</div>

<mat-toolbar *ngIf="this.router.url === '/' " color="accent" class="navbar">

</mat-toolbar>



<ng-template #NotLogged>
    <div class="links">
        <h4 [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"><a routerLink="signin" class="unactive-link">{{this.accountService.getAccount().getUsername()}}</a></h4>
        <h4 [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"><button mat-button (click)="this.logOut()">Log Out</button></h4>
    </div>
</ng-template>
<ng-template #Logged>
    <div class="links">
        <h4 [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"><a routerLink="signin" class="unactive-link">SIGN IN</a></h4>
        <h4 [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"><a routerLink="signup" class="unactive-link">SIGN UP</a></h4>
    </div>
</ng-template>