$custom-primary: (
    50 : #fde8e7,
    100 : #fac5c3,
    200 : #f79f9c,
    300 : #f37874,
    400 : #f15b56,
    500 : #ee3e38,
    600 : #ec3832,
    700 : #e9302b,
    800 : #e72824,
    900 : #e21b17,
    A100 : #ffffff,
    A200 : #ffe1e0,
    A400 : #ffafad,
    A700 : #ff9594,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-secondary: (
    50 : #f1e1e4,
    100 : #ddb3bc,
    200 : #c6818f,
    300 : #af4e62,
    400 : #9e2841,
    500 : #8d021f,
    600 : #85021b,
    700 : #7a0117,
    800 : #700112,
    900 : #5d010a,
    A100 : #ff8e92,
    A200 : #ff5b61,
    A400 : #ff2830,
    A700 : #ff0e18,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);